@charset "utf-8";

:root {
    --app-background-color: rgb(37, 37, 38);
    --app-border-color: #3c3a3a;
    --ap-background-color-other: rgba(86, 86, 86, 0.362);
}


main {
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;
}

.center {
    display: grid;
    text-align: center;
}

input {
    height: 35px;
    border-radius: 5px;
    font-size: 12px;  
}


#btnAdd {
    width: 100px;
    background-color: orange;
    color: white;
    cursor:pointer;
}

#info {
    padding:5px 10px;
    width: 400px;
    color: #3c3a3a;
}

#btnAdd:hover {
    background-color: indianred;
}

.title {
    width: 100vh;
    text-align: center;
}

.contacts {
    width: 100%;
    height: 70vh;
    margin-top: 10px;
    background-color: var(--app-border-color);

    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(4, 1fr); 
    gap: 10px; 
}

#dvTips {
    height: 16px;
    margin: 10px 0px;
    color: red;
}

.contact {
    max-width: 350px;
    width: 100%;
    height: 15vh;
    padding: 10px;
    margin: 5px;
    background-color: var(--ap-background-color-other);
    color: white;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    text-align: left;
}